.containerLoading div {
  height: 10px;
  width: 10px;
  margin-left: 5px;
  border-radius: 50%;
  background: #000;
  display: inline-block;
}

.containerLoading div:first-child {
  -webkit-animation: move 1s ease-in-out infinite alternate;
  animation: move 1s ease-in-out infinite alternate;
  background: #722257;
}

.containerLoading div:nth-child(2) {
  -webkit-animation: move 1s ease-in-out -0.25s infinite alternate;
  animation: move 1s ease-in-out -0.25s infinite alternate;

  background: #00677f;
}

.containerLoading div:nth-child(3) {
  -webkit-animation: move 1s ease-in-out -0.5s infinite alternate;
  animation: move 1s ease-in-out -0.5s infinite alternate;

  background: #ba0c2f;
}

.containerLoading div:nth-child(4) {
  -webkit-animation: move 1s ease-in-out -0.75s infinite alternate;
  animation: move 1s ease-in-out -0.75s infinite alternate;

  background: #4b4f54;
}

.containeroutsideLoading {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
